# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [2]:
st = 'Print only the words that start with s in this sentence'

In [19]:
#Code here
lst = st.split()
lstNew = [x for x in lst if x[0].lower()=='s']
lstNew

['start', 's', 'sentence']

______
**Use range() to print all the even numbers from 0 to 10.**

In [12]:
#Code Here
for x in range(0,10,2):
    print(x)

0
2
4
6
8

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [21]:
#Code in this cell
list2 = [x for x in range(1,50) if x%3==0]
list2

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [25]:
#Code in this cell
lst =st.split()
lstNew = [x for x in lst if len(x)%2==0]
lstNew

['only', 'that', 'with', 'in', 'this', 'sentence']

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [44]:
#Code in this cell
for x in range(1,101):
    if x%3 == 0 and x%5 == 0:
        print(f'The number {x} is FizzBuzz')
    elif x%5 == 0:
            print(f'The number {x} is Buzz')
    elif x%3==0:
        print(f'The number {x} is Fizz')

The number 3 is Fizz
The number 5 is Buzz
The number 6 is Fizz
The number 9 is Fizz
The number 10 is Buzz
The number 12 is Fizz
The number 15 is FizzBuzz
The number 18 is Fizz
The number 20 is Buzz
The number 21 is Fizz
The number 24 is Fizz
The number 25 is Buzz
The number 27 is Fizz
The number 30 is FizzBuzz
The number 33 is Fizz
The number 35 is Buzz
The number 36 is Fizz
The number 39 is Fizz
The number 40 is Buzz
The number 42 is Fizz
The number 45 is FizzBuzz
The number 48 is Fizz
The number 50 is Buzz
The number 51 is Fizz
The number 54 is Fizz
The number 55 is Buzz
The number 57 is Fizz
The number 60 is FizzBuzz
The number 63 is Fizz
The number 65 is Buzz
The number 66 is Fizz
The number 69 is Fizz
The number 70 is Buzz
The number 72 is Fizz
The number 75 is FizzBuzz
The number 78 is Fizz
The number 80 is Buzz
The number 81 is Fizz
The number 84 is Fizz
The number 85 is Buzz
The number 87 is Fizz
The number 90 is FizzBuzz
The number 93 is Fizz
The number 95 is Buzz
The number 96 is Fizz
The number 99 is Fizz
The number 100 is Buzz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [41]:
st = 'Create a list of the first letters of every word in this string'

In [43]:
#Code in this cell
lst = st.split()
[x[0] for x in lst]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!