# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
(2*25)+25+(1-(1/2))+(5**2)

100.5

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

Float

What would you use to find a numberâ€™s square root, as well as its square?

In [54]:
# Square root:  value ** 0.5

# Square: num1 ** num2

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [3]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [56]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [4]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [5]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [6]:
# Method 1:
l1 = [0,0,0]

In [66]:
# Method 2:
l2=[]
l2.append(0)
l2
l2.append(0)
l2
l2.append(0)
l2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [9]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'

Sort the list below:

In [10]:
list4 = [5,3,4,6,1]
list4.sort()

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [11]:
d = {'simple_key':'hello'}
# Grab 'hello'
d.get('simple_key')

'hello'

In [17]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print (d.get('k1').get('k2'))

hello

In [32]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
l = d.get('k1')
l2 = l[0].get('nest_key')
l2[1]

['hello']

In [44]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d.get('k1')[2].get('k2')[1].get('tough')[2]

['hello']

Can you sort a dictionary? Why or why not?<br><br>

Dictionary cannot be sorted. It is a mapping of key value pairs

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuple is a immutable list

How do you create a tuple?<br><br>

var = (val1,val2,val3)

## Sets

What is unique about a set?<br><br>

Sets are list containig non repetitive items

Use a set to find the unique values of the list below:

In [46]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [47]:
# Answer before running cell
2 > 3
#False

False

In [49]:
# Answer before running cell
3 <= 2
#False

False

In [50]:
# Answer before running cell
3 == 2.0
#False

False

In [51]:
# Answer before running cell
3.0 == 3
#True

True

In [52]:
# Answer before running cell
4**0.5 != 2
#False

False

Final Question: What is the boolean output of the cell block below?

In [53]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

#False

False

## Great Job on your first assessment!